.portfolio-wrapper {

}
.portfolio-item {
    display: inline-block;
    margin: 13px 0 13px 0;
}
.portfolio-item-image {
    float: left;
    padding: 8px;
    width: 33.3%;
    max-width: 33.3%;
    border: 2px solid #e0e0e0;
}
.portfolio-item-header {
    float: left;
    padding: 8px;
    width: 48%;
}
.portfoilo-item-detail {
    float:left;
    padding: 8px;
    width: 48%;
}